@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  cursor: none !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Register the new Google Fonts in Tailwind v4 Theme */
  --font-libre: var(--font-libre);
  --font-quicksand: var(--font-quicksand);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.heading {
  font-family: var(--font-libre), serif;
  font-weight: 100;
  @apply text-[40px] font-bold text-black/85 tracking-tight mt-5;
}

.subheading {
  font-family: var(--font-libre), serif;
  font-weight: 100;
  @apply text-[26px] text-black/80 tracking-wide; 
}

.para {
  font-family: var(--font-quicksand), sans-serif;
  @apply text-[16px] text-black/70 font-semibold mx-auto leading-relaxed;
}



.hheading {
  font-family: var(--font-libre), serif;
  font-weight: 700;
  font-style: normal;
  @apply text-4xl sm:text-5xl md:text-7xl font-bold text-black/95 tracking-tight text-shadow-lg;
}

.hsubheading {
  font-family: var(--font-libre), serif;
  font-style: normal;
  font-weight: 400;
  @apply text-xl sm:text-2xl text-black/85 tracking-wide; 
}

.hpara {
  font-family: var(--font-quicksand), sans-serif;
  font-weight: 400;
  @apply text-xl text-black/90 font-medium mx-auto leading-relaxed;
}


.load {
  font-family: var(--font-quicksand), sans-serif;
  @apply text-black/90 text-lg font-semibold mx-auto;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.45);
}

@keyframes text-bg-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-text {
  background-size: 200% auto;
  animation: text-bg-move 10s ease infinite;
}



