@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  cursor: none !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Register the new Google Fonts in Tailwind v4 Theme */
  --font-libre: var(--font-libre);
  --font-quicksand: var(--font-quicksand);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.heading {
  font-family: var(--font-libre), serif;
  font-weight: 300;
  font-style: normal;
  @apply text-6xl font-bold text-black/95 tracking-tight text-shadow-lg
  
}

.subheading {
  font-family: var(--font-libre), serif;
  font-style: italic;
   @apply text-2xl text-black/80 text-shadow-sm tracking-wide;
}

.para {
  font-family: var(--font-quicksand), sans-serif;
  @apply text-black/70 text-xl font-semibold mx-auto leading-relaxed
}

